.category {
    @extend %clearfix;
    text-align: left;
    margin: 1em auto;
    ul {
        @include li-reset;
        li {
            margin: 0px 7px 7px 0px;
            display: block;
            float: left;
        }
    }
    a {
       
       border:1px solid $color-dark;
        padding: .7em 1.5em;
        display: block;
        color: $color-dark;
        background-color:#fff;
        @include box-sizing();
        transition: .5s;
        &:hover,
        &:focus {
            color: #FFF;
            background-color:$color-dark; 
            box-shadow: none;
        }
        &.active {
            color: #FFF;
            @include gradient(darken($color-dark, 0), darken($color-dark, 15), vertical);
        }
        span {
            font-size: .813em;
            &:before {
                content: "(";
                display: inline-block;
            }
            &:after {
                content: ")";
                display: inline-block;
            }
        }
    }
}