 /* sitemap */
 .sitemap {
     margin: 0px auto 1em;
     @extend %clearfix;
     p {
         kbd {
             border: 1px solid #AAA;
             background: transparent;
             color: $color-word;
             padding: 0 .3em;
             margin: 0 .2em .1em;
             kbd {
                 border: none;
             }
         }
     }
     .accesskeyDefine {
         padding: 1em 2em;
         background: #EEE;
         @include border-radius(6px);
         li {
             margin-bottom: .2em;
         }
     }
 }
 .cascading ul {
     list-style: none;
     margin: 30px 0;
     padding: 20px 0px 10px;
     a {
         text-decoration: none;
         color: #333;
         &:hover {
             text-decoration: underline;
             color: $aHover;
         }
     }
     li {
         list-style: none;
         margin: 0 0 10px;
         padding: 0;
         line-height: 125%;
         ul {
             list-style: none;
             padding: 0;
             margin: .4em 0 .8em 1.2em;
             *margin-left: 3.2em;
             li {
                 a {
                     margin: 0 0 .6em;
                     padding: 0 0 5px 0px;
                     font-size: 1.063em;
                     color: #25abd5;
                     font-weight: normal;
                     text-align: left;
                     background-image: none;
                     border-bottom: none;
                     color: #333
                 }
                 ul {
                     *margin-left: 3em;
                     li {
                         float: none;
                         clear: both;
                         display: block;
                         width: 100%;
                         a {
                             padding-left: 2.5em;
                             text-indent: -2.5em;
                             display: block;
                             border-bottom: 0;
                             font-size: 1.125em;
                             color: #333
                         }
                     }
                 }
             }
         }
     }
     >li {
         width: 100%;
         vertical-align: top;
         margin: 0 5px 15px 0px;
         padding: 10px 10px 15px 0px;
         *width: auto;
         height: auto;
         overflow: hidden;
         border-bottom: 1px solid #ccc;
         position: relative;
         &:before {
             content: '';
             position: absolute;
             left: 0px;
             top: 10px;
             border-width: 10px;
             border-style: solid;
             border-color: transparent transparent transparent $aHover;
         }
         a {
             font-size: 1.375em;
             color: $aHover;
             font-weight: bolder;
             padding-left: 20px;
         }
         ul {
             margin: 20px 0 0px 5px;
             li {
                 display: inline-block;
                 width: 28%;
                 margin: 0 10px 20px 15px;
                 height: auto;
                 vertical-align: top;
                 line-height: 1.4em;
                 border-bottom: none;
                 @media (max-width: 991px) {
                     width: 45%;
                 }
                 @media (max-width:767px) {
                     width: 43%;
                 }
                 @media (max-width:480px) {
                     width: 100%;
                 }
                 &:before {
                    display: none;
                 }
             }
         }
     }
 }